<section class="create-employee">
	<h1>Создать департамент</h1>
	<form [formGroup]="departmentForm" (ngSubmit)="createDepartment()">
		<fieldset>
			<legend><h2>Основная информация</h2></legend>
			<app-input
				class="create-employee__input"
				controlName="name"
				label="Название"
			></app-input>
			<app-input
				class="create-employee__input"
				controlName="description"
				label="Описание"
			></app-input>
			<app-select
				class="create-employee__input"
				label="Директор департамента"
				controlName="manager"
				[items]="users"
			></app-select>
			<button
				tuiButton
				type="submit"
				appearance="secondary"
				size="m"
				[showLoader]="loading"
			>
				Создать
			</button>
		</fieldset>
	</form>
</section>
