<div class="roadmap-board">
	<mat-grid-list cols="3" rowHeight="300" gutterSize="25">
		<mat-grid-tile>
			<div class="roadmap-board__card roadmap-board__create-card">
				<button type="button" (click)="openCreateDialog()">
					Создать департамент
				</button>
			</div>
		</mat-grid-tile>
		<mat-grid-tile *ngFor="let department of departments">
			<app-card
				class="roadmap-board__card"
				[title]="department.name"
				[description]="department.description"
				[to]="'/admin/department/' + department.id"
			></app-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>
