<section class="reset-password">
  <div *ngIf="!state; else completeMessage">
    <div class="reset-password__text">
      <h2>Забыли пароль?</h2>
      <span class="reset-password__label"
      >Ссылка для изменения пароля будет выслана на ваш email.</span
      >
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <app-input
        class="reset-password__input"
        controlName="email"
        label="Email"
      ></app-input>
      <app-button
        text="Далее"
        type="submit"
        size="block"
        [submitted]="submitted"
      ></app-button>
    </form>
    <a class="reset-password__link-to-login" [routerLink]="['/auth/login']"
    >Вернуться на страницу входа</a
    >
  </div>

  <ng-template #completeMessage>
    <app-state *ngIf="state === 'success'" [state]="state">
      <p>Мы выслали вам инструкции на {{ this.forgotPasswordForm.value.email }}</p>
      <p>Если вы не нашли их, проверьте папку со спамом.</p>
    </app-state>
    <app-state *ngIf="state === 'error'" [state]="state">
      <p>Ошибка :(</p>
      <p>Попробуйте еще раз!</p>
    </app-state>
    <app-button
      (click)="closeState()"
      text="Вернуться назад"
      size="block"
    ></app-button>
  </ng-template>
</section>
