<section class="create-employee">
	<h1>Создать сотрудника</h1>
	<form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
		<fieldset>
			<legend><h2>Основная информация</h2></legend>
			<app-input
				class="create-employee__input"
				controlName="lastName"
				label="Фамилия"
			></app-input>
			<app-input
				class="create-employee__input"
				controlName="firstName"
				label="Имя"
			></app-input>
			<app-input
				class="create-employee__input"
				controlName="middleName"
				label="Отчество"
			></app-input>
		</fieldset>

		<fieldset>
			<legend><h2>Рабочая информация</h2></legend>
			<app-select
				class="create-employee__input"
				label="Позиция"
				controlName="position"
				[items]="positions"
			></app-select>
			<app-select
				class="create-employee__input"
				label="Департамент"
				controlName="department"
				[items]="departments"
			></app-select>
      <app-chips label="Навыки" controlName="skills" [items]="skills" [autocompleteItems]="autocompleteSkills"></app-chips>
		</fieldset>

		<fieldset>
			<legend><h2>Данные для входа</h2></legend>
			<app-input
				class="create-employee__input"
				controlName="email"
				label="Почта"
			></app-input>
			<app-input
				class="create-employee__input"
				controlName="password"
				label="Пароль"
				type="password"
			></app-input>
		</fieldset>

		<div class="create-employee__buttons">
			<app-button
				text="Сгенерировать пароль"
				type="button"
				size="block"
				(click)="generatePassword()"
				[submitted]="submitted"
			></app-button>

			<app-button
				text="Создать сотрудника"
				type="submit"
				size="block"
				[submitted]="submitted"
			></app-button>
		</div>
	</form>
</section>
