<div class="sign-form">
	<div *ngIf="!state; else completeMessage">
		<mat-tab-group
			[(selectedIndex)]="tabIndex"
			mat-align-tabs="center"
			animationDuration="0ms"
		>
			<mat-tab label="Вход">
				<div class="sign-form__wrapper">
					<form
						class="sign-form__form"
						[formGroup]="loginForm"
						(ngSubmit)="login()"
					>
						<app-input
							class="sign-form__input"
							controlName="email"
							label="Email"
							type="email"
							autocomplete="email"
						></app-input>
						<app-input
							class="sign-form__input"
							controlName="password"
							label="Пароль"
							type="password"
							autocomplete="new-password"
						></app-input>
						<div *ngIf="error" class="sign-form__login-error">
							Неверный email или пароль
						</div>
						<section class="sign-form__recovery-group">
							<a
								class="sign-form__password-recovery"
								[routerLink]="['/auth/reset']"
								>Забыли пароль?</a
							>
						</section>
						<app-button
							text="Войти"
							type="submit"
							size="block"
							[submitted]="submitted"
						></app-button>
					</form>
				</div>
			</mat-tab>
			<mat-tab label="Регистрация">
				<div class="sign-form__wrapper">
					<form [formGroup]="registrationForm" (ngSubmit)="register()">
						<app-input
							class="sign-form__input"
							controlName="email"
							label="Email"
							type="email"
							autocomplete="email"
							placeholder="example@site.com"
						></app-input>
						<app-input
							class="sign-form__input"
							controlName="password"
							label="Пароль"
							type="password"
							autocomplete="new-password"
						></app-input>
						<app-input
							class="sign-form__input"
							controlName="confirmPassword"
							label="Подтверждение пароля"
							type="password"
							autocomplete="new-password"
						></app-input>
						<app-button
							text="Создать аккаунт"
							type="submit"
							size="block"
							[submitted]="submitted"
						></app-button>
					</form>
				</div>
			</mat-tab>
		</mat-tab-group>

		<div class="social-auth">
			<p class="social-auth__label">Или продолжить с</p>
			<div class="social-auth__buttons">
				<button class="social-button">
					<img
						class="social-button__icon"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTIgMTAuNXYzaDQuNTM3Yy0uMTgzIDEuMTc3LTEuMzcgMy41NS00LjUzNyAzLjU1LTIuNzMgMC00Ljk2LTIuMjYtNC45Ni01LjA1UzkuMjcgNi45NSAxMiA2Ljk1YzEuNTUzIDAgMi41OTQuNjYgMy4xOSAxLjIzM2wyLjE3LTIuMDkyQzE1Ljk2NSA0Ljc5MSAxNC4xNiA0IDEyIDRjLTQuNDIzIDAtOCAzLjU3Ny04IDhzMy41NzcgOCA4IDhjNC42MTcgMCA3LjY4LTMuMjQ2IDcuNjgtNy44MTcgMC0uNTI2LS4wNTctMS4yODQtLjEyNi0xLjY4M0gxMnoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48dXNlIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIgeGxpbms6aHJlZj0iI2EiLz48ZyBtYXNrPSJ1cmwoI2IpIj48cGF0aCBmaWxsPSIjRkJCQzA2IiBkPSJNOSAxMkwzIDZ2MTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTkgMTJsMy0zaDdWM0gyLjk2OXYzeiIvPjxwYXRoIGZpbGw9IiMzM0E4NTMiIGQ9Ik05IDEybC02IDYgNCA0aDEyLjUxTDE3IDE5bC01LTV6Ii8+PC9nPjwvZz48L3N2Zz4="
						alt="login google"
					/>
				</button>
				<button class="social-button">
					<img
						class="social-button__icon"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTIgMTAuNXYzaDQuNTM3Yy0uMTgzIDEuMTc3LTEuMzcgMy41NS00LjUzNyAzLjU1LTIuNzMgMC00Ljk2LTIuMjYtNC45Ni01LjA1UzkuMjcgNi45NSAxMiA2Ljk1YzEuNTUzIDAgMi41OTQuNjYgMy4xOSAxLjIzM2wyLjE3LTIuMDkyQzE1Ljk2NSA0Ljc5MSAxNC4xNiA0IDEyIDRjLTQuNDIzIDAtOCAzLjU3Ny04IDhzMy41NzcgOCA4IDhjNC42MTcgMCA3LjY4LTMuMjQ2IDcuNjgtNy44MTcgMC0uNTI2LS4wNTctMS4yODQtLjEyNi0xLjY4M0gxMnoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48dXNlIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIgeGxpbms6aHJlZj0iI2EiLz48ZyBtYXNrPSJ1cmwoI2IpIj48cGF0aCBmaWxsPSIjRkJCQzA2IiBkPSJNOSAxMkwzIDZ2MTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTkgMTJsMy0zaDdWM0gyLjk2OXYzeiIvPjxwYXRoIGZpbGw9IiMzM0E4NTMiIGQ9Ik05IDEybC02IDYgNCA0aDEyLjUxTDE3IDE5bC01LTV6Ii8+PC9nPjwvZz48L3N2Zz4="
						alt="login google"
					/>
				</button>
				<button class="social-button">
					<img
						class="social-button__icon"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTIgMTAuNXYzaDQuNTM3Yy0uMTgzIDEuMTc3LTEuMzcgMy41NS00LjUzNyAzLjU1LTIuNzMgMC00Ljk2LTIuMjYtNC45Ni01LjA1UzkuMjcgNi45NSAxMiA2Ljk1YzEuNTUzIDAgMi41OTQuNjYgMy4xOSAxLjIzM2wyLjE3LTIuMDkyQzE1Ljk2NSA0Ljc5MSAxNC4xNiA0IDEyIDRjLTQuNDIzIDAtOCAzLjU3Ny04IDhzMy41NzcgOCA4IDhjNC42MTcgMCA3LjY4LTMuMjQ2IDcuNjgtNy44MTcgMC0uNTI2LS4wNTctMS4yODQtLjEyNi0xLjY4M0gxMnoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48dXNlIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIgeGxpbms6aHJlZj0iI2EiLz48ZyBtYXNrPSJ1cmwoI2IpIj48cGF0aCBmaWxsPSIjRkJCQzA2IiBkPSJNOSAxMkwzIDZ2MTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTkgMTJsMy0zaDdWM0gyLjk2OXYzeiIvPjxwYXRoIGZpbGw9IiMzM0E4NTMiIGQ9Ik05IDEybC02IDYgNCA0aDEyLjUxTDE3IDE5bC01LTV6Ii8+PC9nPjwvZz48L3N2Zz4="
						alt="login google"
					/>
				</button>
				<button class="social-button">
					<img
						class="social-button__icon"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTIgMTAuNXYzaDQuNTM3Yy0uMTgzIDEuMTc3LTEuMzcgMy41NS00LjUzNyAzLjU1LTIuNzMgMC00Ljk2LTIuMjYtNC45Ni01LjA1UzkuMjcgNi45NSAxMiA2Ljk1YzEuNTUzIDAgMi41OTQuNjYgMy4xOSAxLjIzM2wyLjE3LTIuMDkyQzE1Ljk2NSA0Ljc5MSAxNC4xNiA0IDEyIDRjLTQuNDIzIDAtOCAzLjU3Ny04IDhzMy41NzcgOCA4IDhjNC42MTcgMCA3LjY4LTMuMjQ2IDcuNjgtNy44MTcgMC0uNTI2LS4wNTctMS4yODQtLjEyNi0xLjY4M0gxMnoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48dXNlIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIgeGxpbms6aHJlZj0iI2EiLz48ZyBtYXNrPSJ1cmwoI2IpIj48cGF0aCBmaWxsPSIjRkJCQzA2IiBkPSJNOSAxMkwzIDZ2MTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTkgMTJsMy0zaDdWM0gyLjk2OXYzeiIvPjxwYXRoIGZpbGw9IiMzM0E4NTMiIGQ9Ik05IDEybC02IDYgNCA0aDEyLjUxTDE3IDE5bC01LTV6Ii8+PC9nPjwvZz48L3N2Zz4="
						alt="login google"
					/>
				</button>
				<button class="social-button">
					<img
						class="social-button__icon"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTIgMTAuNXYzaDQuNTM3Yy0uMTgzIDEuMTc3LTEuMzcgMy41NS00LjUzNyAzLjU1LTIuNzMgMC00Ljk2LTIuMjYtNC45Ni01LjA1UzkuMjcgNi45NSAxMiA2Ljk1YzEuNTUzIDAgMi41OTQuNjYgMy4xOSAxLjIzM2wyLjE3LTIuMDkyQzE1Ljk2NSA0Ljc5MSAxNC4xNiA0IDEyIDRjLTQuNDIzIDAtOCAzLjU3Ny04IDhzMy41NzcgOCA4IDhjNC42MTcgMCA3LjY4LTMuMjQ2IDcuNjgtNy44MTcgMC0uNTI2LS4wNTctMS4yODQtLjEyNi0xLjY4M0gxMnoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48dXNlIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIgeGxpbms6aHJlZj0iI2EiLz48ZyBtYXNrPSJ1cmwoI2IpIj48cGF0aCBmaWxsPSIjRkJCQzA2IiBkPSJNOSAxMkwzIDZ2MTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTkgMTJsMy0zaDdWM0gyLjk2OXYzeiIvPjxwYXRoIGZpbGw9IiMzM0E4NTMiIGQ9Ik05IDEybC02IDYgNCA0aDEyLjUxTDE3IDE5bC01LTV6Ii8+PC9nPjwvZz48L3N2Zz4="
						alt="login google"
					/>
				</button>
			</div>
		</div>
	</div>

	<ng-template #completeMessage>
		<app-state *ngIf="state === 'success'" [state]="state">
			<p>Регистрация прошла успешно!</p>
			<p>Сейчас Вам необходимо подтвердить адрес электронной почты.</p>
			<p>Для этого перейдите по ссылке из письма об активации аккаунта.</p>
		</app-state>
		<app-state *ngIf="state === 'error'" [state]="state">
			<p>Ошибка :(</p>
			<p>Попробуйте еще раз!</p>
		</app-state>
		<app-button
			(click)="closeState()"
			text="Вернуться назад"
			size="block"
		></app-button>
	</ng-template>
</div>
