<div class="page">
	<div class="sidebar">
		<div class="logo">LOGO</div>
		<nav class="sidebar__nav-list">
			<div class="sidebar__common-links">
				<div class="sidebar__nav-item nav-item">
					<img
						class="nav-item__icon"
						height="22"
						src="assets/svg/iconfinder_ic_dashboard_48px_3669363.svg"
						alt="Dashboard icon"
					/>
					<a class="nav-item__link" [routerLink]="['/dashboard']">Dashboard</a>
				</div>
				<div class="sidebar__nav-item nav-item">
					<img
						class="nav-item__icon"
						height="22"
						src="assets/svg/statistic-icon.svg"
						alt="Statistic icon"
					/>
					<a class="nav-item__link" href="">Statistics</a>
				</div>
        <div class="sidebar__nav-item nav-item">
          <img
            class="nav-item__icon"
            height="22"
            src="assets/svg/statistic-icon.svg"
            alt="Statistic icon"
          />
          <a class="nav-item__link" [routerLink]="['/admin/department-board']">Департаменты</a>
        </div>
        <div class="sidebar__nav-item nav-item">
          <img
            class="nav-item__icon"
            height="22"
            src="assets/svg/statistic-icon.svg"
            alt="Statistic icon"
          />
          <a class="nav-item__link" [routerLink]="['/admin/create-employee']">Добавить сотрудника</a>
        </div>
      <div class="sidebar__nav-item nav-item">
        <img
          class="nav-item__icon"
          height="22"
          src="assets/svg/statistic-icon.svg"
          alt="Statistic icon"
        />
        <a class="nav-item__link" [routerLink]="['/roadmaps']">Роадмапы</a>
      </div>
			</div>
			<div class="sidebar__system-links">
				<div class="sidebar__nav-item nav-item">
					<img
						class="nav-item__icon"
						height="22"
						src="assets/svg/settings-icon.svg"
						alt="Settings icon"
					/>
					<a class="nav-item__link" href="">Настройки</a>
				</div>
				<div class="sidebar__nav-item nav-item">
					<img
						class="nav-item__icon"
						height="22"
						src="assets/svg/logout_icon.svg"
						alt="Log out icon"
					/>
					<a class="nav-item__link" href="" (click)="logout()">Выход</a>
				</div>
			</div>
		</nav>
	</div>
	<div class="main">
		<div class="header">
        <div class="header__search">
          <input type="text" class="header__search-input" placeholder="What are you looking for?">
        </div>
      <div class="header__notification"></div>
      <div class="header__avatar"></div>
		</div>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
