// TODO: временно, позже убрать
@import '~@taiga-ui/core/styles/taiga-ui-local';


.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

table {
  margin: 0 auto;

  width: 80%;
}

.stage {
  margin-top: 30px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-form-field {
  margin-right: 4px;
}
