.reset-password {
	padding: 48px 64px;

	width: 470px;

	background: #fff;
	border-radius: 8px;
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);

	&__text h2 {
		margin: 0 -10px 30px -10px;

		text-align: center;
	}

	&__input {
    margin-bottom: 18px;

    display: block;
	}

	&__wrapper {
		margin-top: 30px;
	}

	&__label {
		margin-bottom: 15px;

		display: block;

		align-items: center;

		font-size: 14px;
		line-height: 1.4;
		letter-spacing: -0.2px;
	}

	&__link-to-login {
		margin-top: 12px;

    display: block;

		font-size: 15px;
		line-height: 24px;
		text-align: center;

		color: #0073f7;
	}
}
