<section class="reset-password">
	<ng-container *ngIf="!errorMessage; else invalidToken">
		<div *ngIf="!state; else completeMessage">
			<div class="reset-password__text">
				<h2>Забыли пароль?</h2>
				<span class="reset-password__label"
					>Создайте новый пароль к своему аккаунту.</span
				>
			</div>
			<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
				<app-input
					class="reset-password__input"
					controlName="password"
					label="Новый пароль"
					placeholder="Введите новый пароль"
					type="password"
				></app-input>
				<app-input
					class="reset-password__input"
					controlName="confirmPassword"
					label="Подтверждение пароля"
					type="password"
				></app-input>
				<app-button
					text="Изменить пароль"
					type="submit"
					size="block"
					[submitted]="submitted"
				></app-button>
			</form>
			<a class="reset-password__link-to-login" [routerLink]="['/auth/login']"
				>Вернуться на страницу входа</a
			>
		</div>
	</ng-container>

	<ng-template #completeMessage>
		<app-state *ngIf="state === 'success'" [state]="state">
			<p>Вы успешно обновили пароль</p>
		</app-state>
		<app-state *ngIf="state === 'error'" [state]="state">
			<p>Ошибка :(</p>
			<p>Попробуйте еще раз!</p>
		</app-state>
		<app-button
      [routerLink]="['/auth/login']"
      text="Вход"
			size="block"
		></app-button>
	</ng-template>

	<ng-template #invalidToken>
		<div class="reset-password__text">
			<h2>Ссылка неверная или с истекшим сроком действия</h2>
			<span class="reset-password__label"
				>Связанный с этой ссылкой токен не действителен. Убедитесь, что вы ввели
				его правильно и что он не был использован ранее.</span
			>
		</div>
		<app-button
			[routerLink]="['/auth/login']"
			text="Вход"
			size="block"
		></app-button>
	</ng-template>
</section>
