<div *ngIf="roadmap" class="roadmap">
	<h1 class="tui-text_h5">{{ roadmap.name }}</h1>
	<form *ngIf="canUserEdit" [formGroup]="stageForm" class="roadmap__form" (ngSubmit)="createStage()">
		<tui-input tuiTextfieldSize="m" formControlName="stageText">
			Введите название главы
		</tui-input>
	</form>
	<app-tree
		[dataChange]="treeData$"
		(saveItem)="createSubstage($event)"
    (deleteItems)="deleteStage($event)"
    (toggleItemProgress)="toggleStageProgress($event)"
		[isViewMode]="isViewMode"
		[isEditMode]="canUserEdit"
	></app-tree>
</div>
